blis
catalogue
certifi
charset-normalizer
click
colorama
cymem
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
Flask
idna
itsdangerous
Jinja2
langcodes
MarkupSafe
murmurhash
numpy
packaging
pathy
Pillow
preshed
pydantic
pyparsing
requests
smart-open
spacy
spacy-legacy
spacy-loggers
srsly
thinc
tqdm
typer
typing-extensions
urllib3
wasabi
Werkzeug
